/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f4f4f4;
}

/* Header */
header {
    background-color: #333;
    color: #fff;
    padding: 60px 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

header span {
    color: #4CAF50;
}

header p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.button {
    padding: 10px 20px;
    color: #fff;
    background-color: #4CAF50;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.button:hover {
    background-color: #45a049;
}

/* Sections */
.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
}

h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 15px;
}

p {
    line-height: 1.6;
    margin-bottom: 10px;
}

.project-item, .skills-list {
    margin: 15px 0;
}

/* Project and Skills */
.project-item a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
}

.project-item a:hover {
    text-decoration: underline;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.skills-list li {
    background: #e0e0e0;
    padding: 8px 12px;
    margin: 5px;
    border-radius: 4px;
    color: #333;
}

/* Contact Section */
#contact p a {
    color: #4CAF50;
    text-decoration: none;
}

#contact p a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.navbar {
	background: #444;
	-o-transition: all .6s; -moz-transition: all .6s; -webkit-transition: all .6s; -ms-transition: all .6s; transition: all .6s;
	backface-visibility: hidden;
}
.navbar.navbar-no-bg { background: #444; background: rgba(0, 0, 0, 0.2); }

.navbar-dark .navbar-nav { font-size: 15px; color: #fff; text-transform: uppercase; }
.navbar-dark .navbar-nav .nav-link { color: #fff; color: rgba(255, 255, 255, 0.8); border: 0; }
.navbar-dark .navbar-nav .nav-link:hover { color: #fff; }
.navbar-dark .navbar-nav .nav-link:focus { color: #fff; outline: 0; }

.navbar-expand-md .navbar-nav .nav-link { padding-left: 1rem; padding-right: 1rem; }

.navbar-brand {
	width: 105px;
	background: url(../img/gallery.png) left center no-repeat;
	border: 0;
	text-indent: -99999px;
}